In [2]:
import pandas as pd
import numpy as np

# Load the dataset
data = pd.read_csv('employee_data.csv')

In [4]:
import seaborn as sns
import matplotlib.pyplot as plt

In [6]:
data_copy = data
data_copy = pd.get_dummies(data, columns=["job_role", "work_location"], dtype=int)
data_copy

,unit_id,manager_id,name,phone_number,salary,job_role_Employee,job_role_HR,job_role_Manager,"work_location_Atlanta, GA","work_location_Austin, TX",...,"work_location_Hartford, CT","work_location_Los Angeles, CA","work_location_Manhattan, NY","work_location_New Haven, CT","work_location_Newington, CT","work_location_Norwalk, CT","work_location_Queens, NY","work_location_South Windsor, CT","work_location_St Paul, MN","work_location_West Hartford, CT"
0,1,1,Owen Knapp,+1 201-421-7835,290824,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,0
1,2,1,Sean O'Connor,+1 505-217-5448,126255,0,1,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2,3,1,Summer Donovan,+1 505-659-6230,323241,0,1,0,0,0,...,0,0,1,0,0,0,0,0,0,0
3,4,1,Lexi Hubbard,+1 505-646-6535,52113,0,1,0,0,0,...,0,1,0,0,0,0,0,0,0,0
4,5,1,Chris Shaffer,+1 434-603-2851,93847,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,33,Jaime Bryan,+1 505-644-8352,152043,1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
996,997,33,Cora Morales,+1 203-984-4131,59954,1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
997,998,33,Briana Gibson,+1 505-646-1469,169750,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
998,999,33,Levi Wiggins,+1 505-667-6452,278625,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
999,1000,33,Allie Arias,+1 472-253-8007,156438,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
job_role = data_copy.loc[:, data_copy.columns.str.startswith('job_role')]
job_role
work_location = data_copy.loc[:, data_copy.columns.str.startswith('work_location')]
work_location
work_location.reset_index(drop=True, inplace=True)
job_role.reset_index(drop=True, inplace=True)

new_data = pd.concat([work_location, job_role], axis=1)

new_data

,"work_location_Atlanta, GA","work_location_Austin, TX","work_location_Bronx, NY","work_location_Brooklyn, NY","work_location_Chicago, IL","work_location_Hartford, CT","work_location_Los Angeles, CA","work_location_Manhattan, NY","work_location_New Haven, CT","work_location_Newington, CT","work_location_Norwalk, CT","work_location_Queens, NY","work_location_South Windsor, CT","work_location_St Paul, MN","work_location_West Hartford, CT",job_role_Employee,job_role_HR,job_role_Manager
0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0
1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0
2,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0
3,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0
4,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0
996,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0
997,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0
998,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0
999,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0

NameError: name 'train_test_split' is not defined

In [13]:
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

In [15]:
X = new_data
y = data_copy['salary']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

model = LinearRegression().fit(X_train, y_train)
model.score(X,y)
###model.fit(X_train, y_train)
predicted = model.predict(X_test)

accuracy = accuracy_score(predicted, y_test)
print(f'Accuracy: {accuracy}')

(800, 18) (200, 18) (800,) (200,)
Accuracy: 0.0